
.container {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
}

.left_box {
  width: 400px; 
  height: 729px;
  background-color: #2F80ED;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 50px  
 }

 .box2 {
  margin: 0 110px 230px 0;
 }

 .box4 {
  margin-right: 110px;
 }

 .link1, .first_texth1 {
  text-decoration: none;
  color: white;
  padding: 0 10px 0;
 }

 .item {
  display: flex;
  align-items: baseline
 }