.wrapper {
  display: flex;
}


.sider_conteiner {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
}

.sider {
  width: 400px; 
  height: 729px;
  background-color: #2F80ED;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box3 {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 50px  
 }

 .box2 {
  margin: 0 110px 230px 0;
 }

 .box4 {
  margin-right: 110px;
 }

 .link1, .first_text {
  text-decoration: none;
  color: white;
  padding: 0 10px 0;
  font-family: 'Poppins', sans-serif;

 }

 .item {
  display: flex;
  align-items: baseline;
 }

 .content_conteiner {
  margin: 40px 40px 0;
 }

 .cont_imgs {
  display: flex;
 }

 .img_wrapper {
  margin: 29px 29px 29px 0;
  width: 243px;
  height: 150px;
 }

 .header_second {
  margin-bottom: 0;
  margin-top: 12px;

 }

 .table_container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 
 .table-img-wrapper {
  display: flex;
  flex-direction: column;
 }

 .item_other {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 0 20px;
  margin-right: 40px;
  font-weight: 700;
  color: #515151;
 }
